<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <typeAliases>
        <package name="com.rhinoceros.mall.core.pojo"/>
    </typeAliases>

    <typeHandlers>
        <!--枚举类型在数据库中的转换方式-->
        <!--<typeHandler handler="org.apache.ibatis.type.EnumTypeHandler" javaType=""/>-->
    </typeHandlers>

</configuration>